// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere

//
// Color system
//

$white:  #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:  #000;

$brand-color: #c5a179;
$blue:    #007bff;
$red:     #dc3545;
$yellow:  #ffc107;
$green:   #28a745;
$cyan:    #17a2b8;

$colors: (
  brand-color: #c5a179,
  blue: $blue,
  red: $red,
  yellow: $yellow,
  green: $green,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800
);

$theme-colors: (
  primary: $brand-color,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
);

// Body
//
// Settings for the `<body>` element.

$body-bg:       #f2f2f2;
$body-color:    $gray-700;

// Links
//
// Style anchor elements.

$link-color:            $gray-800;
$link-hover-color:      $brand-color;
$link-hover-decoration: none;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 1.5rem;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1180px
);


// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'Karla', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$headings-font-family:   'Lora', Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
$headings-color: $gray-800;

$h1-font-size: 34px;
$h2-font-size: 32px;
$h3-font-size: 30px;
$h4-font-size: 26px;
$h5-font-size: 22px;
$h6-font-size: 18px;

//
// Other overrides
//

.btn.btn-round[class*='btn-'] {
  border-radius: 3rem;
}
.btn.btn-primary {
  color: #fff !important;
}
.btn {
  font-size: .75rem !important;
}

p {
  margin-top: 1rem !important;
}
a {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.wrapper {
  padding: 30px 30px;
  width: 1240px;
  margin: 0 auto;
}
#content {
  background-color: $white;
  padding-top: 40px;
  padding-bottom: 50px;
}

// Blog post styles
.post {
  margin-bottom: 40px;
  overflow: hidden; 
  .entry-meta {
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0;
    margin-bottom: 10px;
    
    color: $gray-400;
    letter-spacing: 1px;
    text-align: center;
    
    a {
      color: $gray-400;
      font-style: normal;
      display: inline;
      letter-spacing: 2px;
      margin-right: 25px;
      font-size: 13px;
      &:hover {
        color: $brand-color;
      }
    }
    .author {
      a {
        color: $brand-color;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .entry-header {
    .entry-title {
      font-weight: 500;
      letter-spacing: 1px;
      font-style: italic;
    }
  }
  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .entry-footer {
    position: relative;
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $gray-300;
    border-bottom: 1px solid $gray-300;
    margin-top: 35px;
    padding: 10px 0;
    span {
      padding: 0;
    }
    a {
      font-size: .8125rem;
      color: $gray-500;
      text-transform: uppercase;
      letter-spacing: 2px;
      &:hover {
        color: $brand-color;
      }
    }
  }
  .entry-content {
    margin-top: 15px;
    img {
      width: auto;
      margin: auto;
    }
  }
}

// Right Sidebar
#right-sidebar {
  .widget {
    margin: 0 0 40px;
    padding: 20px 30px;
    background-color: $gray-100;
    .widget-title {
      font-size: 20px;
      font-style: italic;
      letter-spacing: 1px;
      margin-bottom: 0 0 10px;
      padding: 0 0 20px 0;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        border-bottom: 1px dotted $gray-300;
        padding-bottom: 5px;
        margin-bottom: 5px;
        &:last-child {
          border: none !important;
        }
      }
    }
  }
}