// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


$headings-font-family:    Lora, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
$headings-color: #333;


$font-size-h1: 34px;
$font-size-h2: 32px;
$font-size-h3: 30px;
$font-size-h4: 26px;
$font-size-h5: 22px;
$font-size-h6: 18px;

$link-color: #343434;
